@import url("vendor/recet.css");
@import url("components/start.css");
@import url("components/base.css");
@import url("components/dish.css");
@import url("components/feature.css");
@import url("components/video.css");
@import url("components/photo.css");
@import url("components/line4.css");
@import url("components/line5.css");
@import url("components/chefs.css");
@import url("components/line6.css");
@import url("components/line6-photo.css");
@import url("components/line7.css");
@import url("components/line7-gallery.css");
@import url("components/line8.css");
@import url("components/line8-contact.css");
@import url("components/line8-opening-hour.css");
@import url("components/last.css");
@import url("components/last-contacts.css");