html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    width: 100%;
}

.line{
    background-image: url("../../img/back_body.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed; 
}

a{
    text-decoration: none;
}

.feature{
    padding: 0 5%;
}

.line{
    padding-bottom: 170px ;
    padding-top: 100px;
}

.main{
    padding: 0 5%;
}

.line5{
    background-size: 100px;
    background-color: #000;
    padding: 100px 0;
}

.line7{
    padding: 100px 0;
}

.booking{
    padding: 0 1%;
}

