.dish{
    background-color: #000;

    padding: 100px 0;
}

.title h2{
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 20px;
    background-image: url(../../img/title.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 80px;
    font-family: "Popins";
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.title{
    text-align: center;
    max-width: 600;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.title p{
    color: #b8b8b8;
    font-size: 18px;
}
