.last{
    padding: 120px 0;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: #000;
}

.last-item h2{
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 20px;
    background-image: url(../../img/title.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 80px;
    font-family: "Popins";
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.last-item{
    text-align: center;
    max-width: 600;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 50px;
}

.dop{
    padding: 30px 10px;
    text-align: center;
    font-size: 12px;
    color: #b8b8b8;
    margin-top: 50px;
}

.copyright a{
    color: #b8b8b8;
}
