.opening-hours{
    width: 35%;
    padding: 30px;
    margin-right: 60px;
    padding: 40px 30px;
    background-color: #000;
}

.opening-hours h3{
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "Popins";
    text-transform: uppercase;
    line-height: 1.2;
}

.opening-hours p{
    color: #b8b8b8;
    font-size: 18px;
}

.table-hours{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    border-bottom: 1px solid #b8b8b8;
}

@media(max-width:999px) {
    .opening-hours {
        width: 100%;
    }
}