.line4{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../../img/line4.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: #fff;
    font-family: "Popins";
    text-transform: uppercase;
    line-height: 1.2;
}

.btn-pizza{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 199px;
    height: 43px;
    background-color: #ffcc33ff;
    font-family: "Popins";
    text-transform: uppercase;
    color: #000;
    padding: 8px 16px;
    border-radius: 3px;
    letter-spacing: 3px;
    transition: .5s;
}

.btn-pizza:hover{
    background-color: #b8b8b8;
    color: #fff;
}