.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px 30px;
    margin: 0 auto;
    max-width: 1200px;
}

.card {
    overflow: hidden;
    color: #fff;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    transition: filter 0.3s;
    margin-bottom: 30px;
}

.card img:hover {
    filter: brightness(70%);
}

.card h3 {
    font-family: "Popins";
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    line-height: 1.2;
    margin-bottom: 20px;
}

.card p {
    margin-bottom: 20px;
    color: #b8b8b8;
    font-size: 18px;
}

@media (max-width: 1200px) {
    .cards {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 480px) {
    .cards {
        grid-template-columns: 1fr; 
    }
}
