.wrapper{
    flex-grow: 1;
}

.open{
    display: flex !important;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 20px; 
    min-height: 100px;
    background-color: #000; 
}

.logo {
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-height: 70px; 
    height: auto; 
    margin: 0; 
}

.header__item{
    display: flex;
    width: 700px;
    padding: 0 40px;
}

.header__item a {
    display: flex;
    font-family: "Popins";
    margin: 0 15px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none; 
    transition: color 0.5s ease;
    justify-content: space-between;
 
}

.header__item a:hover {
    color: #ffcc33;
}

.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #FAF6F2;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FAF6F2;
    transition: all 0.3s ease 0s;
}

.burger::before { top: 0 }

.burger::after { bottom: 0 }


/* Добавляем класс active для анимации иконки бургера */
.burger.active span { transform: scale(0) }

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}


.container{
    margin-top: 5%;
    padding: 0 5%;
    width: 590px;
    height: 376px;
}

.container h1, p{
    color: #fff;
}

.container h1{
    width: 590px;
    font-family: "Popins";
    font-size: 75px;
    margin-bottom: 30px;
    text-transform: uppercase;
    line-height: 1.2;
}

.container p{
    font-size: 18px;
    line-height: 1.5;
}

.container a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 199px;
    height: 43px;
    background-color: #ffcc33ff;
    font-family: "Popins";
    text-transform: uppercase;
    color: #000;
    padding: 8px 16px;
    border-radius: 3px;
    letter-spacing: 3px;
    transition: .5s;
}

.container a:hover{
    background-color: #b8b8b8;
    color: #fff;
}

@media (max-width:972px){
    .container{
        width: 100wh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .container h1{
        width: 100%;
        font-size: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container p{
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    .burger { display: flex }

    .header__item{
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: black;
        animation: burgerAnimation 0.4s;
    }

    .header__item a{
        flex-direction: column;
        margin-bottom: 30px;
    }
}

@media (max-width:749px) {
    .container h1{
        width: 100%;
        font-size: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container p{
        font-size: 14px;
    }
}

@media (max-width:566px) {
    .container{
        padding: 0%;
        margin-top: auto;
    }

    .container h1{
        width: 100%;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container p{
        font-size: 17px;
        width: 80%;
        height: 100px;
    }
}

@media (max-width:540px) {
    .container {
        margin: 0 10%;
        width: 100vh;
    }
}

@media (max-width:427px) {
    .container {
        margin: auto;
    }

    .header img{
        max-height: 50px;
    }

    .header-adaptive {
        font-size: 20px;
        right: 25px;
    }
}

@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}